extends base
block content
    h1 Create Event
    .container
      form#create-event
        label(for='title') Event Title:
        input#title(type='text', name='title', minlength='10', required='')
        label(for='event-photo') Choose a photo:
        input#event-photo(type='file',required='')
        label(for='description') Event Description:
        textarea#description(name='description', rows='10', cols='100', minlength='200', required='')
        label(for='entryfee') Entry Fee:
        input#entryfee(type='number', name='entryfee', min='0', step='10', max='5000', required='')
        label(for='maxGuestLimit') Guest Limit:
        input#guestlimit(type='number',name='maxGuestLimit',min=25,max=100)
        label(for='startdate') Start Timing:
        input#startdate(type='datetime-local', name='startdate', required='')
        |
        label(for='enddate') End Timing:
        input#enddate(type='datetime-local', name='enddate', required='')
        .address-field
          label(for='street') Street Address:
          input#street(type='text', name='street', required='')
          label(for='city') City:
          input#city(type='text', name='city', required='')
          label(for='state') State:
          input#state(type='text', name='state', required='')
        button#create-event-btn(type='submit') create event