extends base
block content
    .forgot-password
        h1 Forgot password?
        p Enter the email address associated with your account and we'll send you a link to reset your password.
        form#forgot-password-form
            label(for='email') Email
            input#reset-email(type='email', name='email', required='')
            button#reset-link-btn(type='submit') Send reset link
        .signup-link
            p
                | Don't have an account? 
                a(href='/signup') Sign up