#delete-modal.modal
    .modal-content
      span#close-modal.close &times;
      h2
      p
      .modal-buttons
        button#cancel.cancel-button Cancel
        button#confirm.confirm-button Confirm