extends base
block content

    .container
        h1 Reset Password
        form#reset-form
            .form-group
                label(for='new-password') New Password:
                input#reset-new-password(type='password', name='new-password', required='')
            .form-group
                label(for='confirm-new-password') Confirm New Password:
                input#reset-confirm-new-password(type='password', name='confirm-new-password', required='')
            button(type='submit') Reset Password