extends base
block content

    .container
        h1 Reset password
        form#reset-form
            .form-group
                label(for='new-password') New password:
                .password-input 
                    input#reset-new-password.input-password(type='password', name='new-password', required='')
                    button.toggle-password(type='button',data-target="reset-new-password")
                        i.fa-solid.fa-eye-slash 
                    ul#password-criteria
                        li#length-criteria At least 8 characters
                        li#uppercase-criteria At least one uppercase letter
                        li#lowercase-criteria At least one lowercase letter
                        li#number-criteria At least one number
                        li#special-char-criteria At least one special character
            .form-group
                label(for='confirm-new-password') Confirm new password:
                .password-input
                    input#reset-confirm-new-password.input-password(type='password', name='confirm-new-password', required='')
                    button.toggle-password(type='button',data-target="reset-confirm-new-password")
                        i.fa-solid.fa-eye-slash
            button(type='submit') Reset password