extends base
block content
    .container
      h1 Sign Up
      form.signup-form
        .form-group
          label(for='name') Name:
          input#signup-name(type='text', name='name', required='')
        .form-group
          label(for='email') Email:
          input#signup-email(type='email', name='email', required='')
        .form-group
          label(for='photo') Choose a photo:
          input#signup-photo(type='file'  name='photo')
        .form-group
          label(for='gender') Gender:
          input#gender-male(type='radio', name='gender', value='male', required='')
          label.gender-male(for='gender-male') Male
           
          input#gender-female(type='radio', name='gender', value='female', required='')
          label.gender-female(for='gender-female') Female
        .form-group
          label(for='password') Password:
          input#signup-password(type='password', name='password', required='')
        .form-group
          label(for='confirm-password') Confirm Password:
          input#signup-confirm-password(type='password', name='confirm-password', required='')
        .form-group
          label(for='signup-as') Signup As:
          select#signup-as(name='signup-as', required='')
            option(value='user') User
            option(value='organiser') Organiser
            // option(value='admin') Admin
        button(type='submit') Sign Up